body{
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 14px;
    color: #333;
}

h1{
    font-size: 28px;
    font-weight: bold;
    line-height: 32px;
    margin: 10px 0;
    padding:0;
}

img{
    border:0;
}